{% extends "layouts/main.html" %}

{% block pageTitle %}
Number of options - GOV.UK prototpye kit branching code creator
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if error %}
    {{
      govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors
      })
    }}
    {% endif %}
    <form action="/number-of-options-answer">
       {{
        govukInput({
          label: {
            text: 'How many options does your question have?',
            isPageHeading: true,
            classes: 'govuk-label--l'
          },
          classes: 'govuk-input--width-2',
          name: 'numberOfOptions',
          value: data.numberOfOptions
        } | errorFilter(errors))
      }}
      {{
        govukButton({
          text: 'Continue'
        })
      }}
    </form>
  </div>
</div>
{% endblock %}
