{% extends "layouts/main.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{
      govukCheckboxes({
        name: 'james-test',
        fieldset: {
          legend: {
            text: 'Which team do you support?'
          }
        },
        items: [
          {
            value: 'city',
            text: 'Manchester City'
          },
          {
            value: 'united',
            text: 'Manchester United'
          }
        ]
      })
    }}
  </div>
</div>
{% endblock %}
