{% extends "layouts/main.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if error %}
    {{
      govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors
      })
    }}
    {% endif %}
    <form action="/configure-branching">
      {{
        govukInput({
          label: {
            text: 'What is the name of your question?',
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            html: '<p class="govuk-hint">The name of the input is set as <code>name="input-name"</code> in HTML or <code>name: "inputName"</code> in Nunjucks.</p>'
          },
          id: 'nameOfInput',
          name: 'nameOfInput',
          value: data.nameOfInput
        } | errorFilter(errors))
      }}
      {{
        govukButton({
          text: 'Continue'
        })
      }}
    </form>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      Questions
    </h2>
    <p class="govuk-body">
      If you do not know the name of a question, select from the list below.
    </p>
    <div id="existing-questions" aria-live="polite">
      <p id="loading"><span class="spinner"></span>Searching for existing questions </p>
    </div>
  </div>
</div>
{% endblock %}
