{% extends "layouts/main.html" %}

{% block content %}

{% set answers = data.answersToMap if data.answersToMap else range(data.numberOfOptions) %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Configure branches</h1>
    <p class="govuk-body">Indicate where each answer should take you.</p>
    <form action="/produce-code">
    {% for answer in answers %}
    <fieldset class="govuk-fieldset govuk-input-pair">
      {{
        govukInput({
          label: {
            text: answer.label if answer.label else 'Answer ' + loop.index
          },
          value: answer.value if answer.value,
          disabled: true if answer.value else false
        })
      }}
      <span>goes to</span>
      {{
        govukInput({
          label: {
            text: 'Page name'
          },
          id: 'page-' + loop.index0,
          name: 'page-' + loop.index0
        })
        }}
    </fieldset>
    {% endfor %}
    </form>
  </div>
</div>
{% endblock %}