{% extends "layouts/main.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if error %}
    {{
      govukErrorSummary({
        titleText: 'There is a problem',
        errorList: errors
      })
    }}
    {% endif %}
    <form action="/type-of-input-answer">
      {{
        govukRadios({
          classes: 'govuk-radios--inline',
          name: 'typeOfInput',
          fieldset: {
            legend: {
              text: 'What type of input are you using?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--l'
            }
          },
          items: [
            {
              value: 'radio',
              text: 'Radios'
            },
            {
              value: 'checkbox',
              text: 'Checkboxes'
            }
          ]
        } | errorFilter(errors))
      }}
      {{
        govukButton({
          text: 'Continue'
        })
      }}
    </form>
  </div>
</div>
{% endblock %}
